* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;

    justify-content: center;

  }
  
  .flex-item-left {
    
    margin-top: 0px;
    margin-left: 0px;
    padding: 2px;
    flex: 50%;

    text-align: justify;
  }
  
  .flex-item-right {
    /* background-color: dodgerblue; */
    margin-top: 30px;
    padding: 0px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
.round_img{
    border-radius : 50%;
    object-fit:cover;
    width: 50px;
    height: 50px;
}
.tab11{
    width:90%;
    border: 5px solid grey;
    padding: 5px;
    background-color: rgb(237,228,228);
    font-size:20px;
    margin: 5px 5px 5px 5px; 
    display:flex;
    /* flex-direction: row; */
    align-items: center;
    
}
/* .textup{
    
} */








